<main class="container">
<section class="date-section">
  <h3 class="date">{{ date }}</h3>
</section>
<section class="results">
  <div class="result zero">
    <h3>Zero</h3>
    <div class="nameList" *ngFor="let mark of marks">
      <p *ngIf="mark==0">{{mark}}</p>
    </div>
  </div>
  <div class="result zero">
    <h3>Average</h3>
    <div class="nameList" *ngFor="let mark of marks">
      <p *ngIf="mark>0 && mark<1">{{mark}}</p>
    </div>
  </div>
   <div class="result zero">
    <h3>Full</h3>
    <div class="nameList" *ngFor="let mark of marks">
      <p *ngIf="mark>=1">{{mark}}</p>
    </div>
  </div>
</section>
</main>
